#
# Config file for osoa - usage: service_name [{option}] [--config settings.cfg]
# {option} overrides values in settings.cfg

# config options
log-dir = /var/log/osoa
#no-log-file
#verbose

# hidden options (not shown in --help)
async-log=
#auto-flush-log=
rotation-size=12
